<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.3.2.10" targetFramework="monoandroid71" />
  <package id="AWSSDK.Core" version="3.3.14.1" targetFramework="monoandroid71" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.4.13" targetFramework="monoandroid71" />
  <package id="AWSSDK.RDS" version="3.3.11" targetFramework="monoandroid71" />
  <package id="AWSSDK.SecurityToken" version="3.3.1.9" targetFramework="monoandroid71" />
  <package id="MySql.Data" version="6.9.9" targetFramework="monoandroid71" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="monoandroid71" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid71" />
  <package id="Validation" version="2.0.6.15003" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="monoandroid71" />
</packages>